<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="partials/links :: links"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<nav th:replace="partials/navbar :: navbar"></nav>

<body>
<select class="form-control" id="exampleFormControlSelect1" th:field="*{name}">
    <option value="foodie">foodie</option>
    <option value="cooking">cooking</option>
    <option value="dancing">dancing</option>
    <option value="comedie">comedie</option>
</select>


<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>