<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="container">
    <form th:action="@{/create}" th:object="${post}" method="post">

        <label for="mbody">Message </label>
        <br>
        <input type="text" id="mbody" th:field="*{message_body}" />
        <br>
        <label for="ppost">parent post </label>
        <br>
        <textarea th:field="*{parent_post_id}" id="ppost" cols="72" rows="4"></textarea>
        <br>
        <button type="submit">Update</button>
    </form>
</div>
<scripts th:replace="partials/scripts :: scripts"/>
</body>
</html>