<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing</title>
</head>
<nav th:replace="partials/navbar :: navbar"></nav>
<body>
<form th:action="'/groups/posts/edit/' + ${editPost.id}" th:method="post" th:object="${editPost}">
    <label for="MessageBody">Rename Message body:</label><br>
    <textarea id="MessageBody" th:field="*{message_body}" rows="4" cols="72"></textarea><br>
    <label for="btn"></label><br>
    <button type="submit" id="btn">Submit</button>
</form>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>