<!--<!DOCTYPE html>-->

<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>Untitled</title>-->
<!--    &lt;!&ndash;             <link rel="stylesheet" th:href="@{/css/footer.css}">&ndash;&gt;-->
<!--    &lt;!&ndash;            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.csshttps://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">&ndash;&gt;-->
<!--    &lt;!&ndash;            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"&ndash;&gt;-->
<!--    &lt;!&ndash;                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">&ndash;&gt;-->
<!--&lt;!&ndash;    <style>&ndash;&gt;-->
<!--&lt;!&ndash;      .footer {&ndash;&gt;-->
<!--&lt;!&ndash;          position: fixed;&ndash;&gt;-->
<!--&lt;!&ndash;          bottom: 0;&ndash;&gt;-->
<!--&lt;!&ndash;          width: 100%;&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--&lt;!&ndash;        a:focus, a:hover {&ndash;&gt;-->
<!--&lt;!&ndash;            color: #0085A1;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    </style>&ndash;&gt;-->

<!--</head>-->

<!--<standard_links th:fragment="footer">-->
<!--    <body class="footer">-->
<!--    <footer class="footer bg-dark " style="position: fixed; bottom: 0; width: 100%">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6 col-lg-8 mx-auto">-->
<!--                    <ul class="list-inline text-center mt-4">-->
<!--                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i-->
<!--                                class="fa fa-circle fa-stack-2x"></i><i-->
<!--                                class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>-->
<!--                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i-->
<!--                                class="fa fa-circle fa-stack-2x"></i><i-->
<!--                                class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>-->
<!--                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i-->
<!--                                class="fa fa-circle fa-stack-2x"></i><i-->
<!--                                class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>-->
<!--                        <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i-->
<!--                                class="fa fa-circle fa-stack-2x"></i><i-->
<!--                                class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li>-->
<!--                    </ul>-->
<!--                    <p class="copyright text-muted text-center">Copyright &copy; OperationCo-Op 2020 | Web Design by our-->
<!--                        developers</p></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
<!--    &lt;!&ndash;  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"&ndash;&gt;-->
<!--    &lt;!&ndash;            crossorigin="anonymous"></script>&ndash;&gt;-->
<!--    <div th:replace="partials/scripts :: scripts"></div>-->
<!--    </body>-->
<!--</standard_links>-->
<!--</html>-->