
<!-- Amaro codes-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<standard_links th:fragment="navbar">-->

<!--    <nav class="navbar navbar-inverse">-->
<!--        <div class="container-fluid">-->
<!--            <div class="navbar-header">-->
<!--                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <a class="navbar-brand">OperationCo-Opt</a>-->
<!--            </div>-->
<!--            <div class="collapse navbar-collapse" id="myNavbar">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li class="active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>-->
<!--                    <li sec:authorize="isAnonymous()" class="active">-->
<!--                        <a class="nav-link" href="/sign-up"><span class="glyphicon glyphicon-user"></span>Sign Up</a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                        <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>-->
<!--                    </li>-->
<!--                    &lt;!&ndash;                Drop down toggle nav(Visible for Logged In Users Only) &ndash;&gt;-->
<!--                    <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/profile}">Profile</a><span class="sr-only"></span></a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/groups}">Groups</a><span class="sr-only"></span></a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/games}">Games</a><span class="sr-only"></span></a>-->
<!--                    </li>-->
<!--                    <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                        <a class="nav-link" th:href="@{/aboutUs}">About Us</a><span class="sr-only"></span></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                &lt;!&ndash;                <ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;-->
<!--                &lt;!&ndash;                </ul>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->


<!--    &lt;!&ndash;                Non-logged in user display&ndash;&gt;-->


<!--    <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--        <form class="form-inline" th:action="@{/games/search}" th:method="GET">-->
<!--            <input type="text" name="term" id="term" class="form-control mr-sm-2"-->
<!--                   placeholder="Look for a Game!"/>-->
<!--            <input class="btn btn-success" type="submit" value="Search" placeholder="Search"-->
<!--                   aria-label="Search Games"/>-->
<!--            &nbsp;<button onclick="document.getElementById('term').value=''" class="btn btn-warning"-->
<!--                          type="button">Clear-->
<!--        </button>-->
<!--        </form>-->
<!--    </li>-->


<!--Amaro codes until here -->

    <!--    <nav class="navbar navbar-inverse">-->
    <!--        <div class="container-fluid">-->
    <!--            <div class="navbar-header">-->
    <!--                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
    <!--                    <span class="icon-bar"></span>-->
    <!--                    <span class="icon-bar"></span>-->
    <!--                    <span class="icon-bar"></span>-->
    <!--                </button>-->
    <!--                <a class="navbar-brand" href="#">WebSiteName</a>-->
    <!--            </div>-->
    <!--            <div class="collapse navbar-collapse" id="myNavbar">-->
    <!--                <ul class="nav navbar-nav">-->
    <!--                    <li class="active"><a href="#">Home</a></li>-->
    <!--                    <li class="dropdown">-->
    <!--                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>-->
    <!--                        <ul class="dropdown-menu">-->
    <!--                            <li><a href="#">Page 1-1</a></li>-->
    <!--                            <li><a href="#">Page 1-2</a></li>-->
    <!--                            <li><a href="#">Page 1-3</a></li>-->
    <!--                        </ul>-->
    <!--                    </li>-->
    <!--                    <li><a href="#">Page 2</a></li>-->
    <!--                    <li><a href="#">Page 3</a></li>-->
    <!--                </ul>-->
    <!--                <ul class="nav navbar-nav navbar-right">-->
    <!--                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
    <!--                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </nav>-->


    <!--</standard_links>-->

    <!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
    <!--<standard_links th:fragment="navbar">-->

    <!--    <nav class="navbar navbar-expand-lg navbar-light bg-light topnav">-->
    <!--        <a class="navbar-brand" href="#">Home</a>-->
    <!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
    <!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--            <span class="navbar-toggler-icon"></span>-->
    <!--        </button>-->

    <!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--            <ul class="navbar-nav mr-auto">-->

    <!--                &lt;!&ndash;                Drop down toggle nav&ndash;&gt;-->
    <!--                <li class="nav-item dropdown">-->
    <!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
    <!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>-->
    <!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
    <!--                        <a class="dropdown-item" th:href="@{/profile}">Profile</a>-->
    <!--                        <a class="dropdown-item" th:href="@{/groups}">Groups</a>-->
    <!--                        <a class="dropdown-item" th:href="@{/games}">Games</a>-->
    <!--                        <a class="dropdown-item" th:href="@{/aboutUs}">About Us</a>-->
    <!--                        <div class="dropdown-divider"></div>-->
    <!--                        <form th:action="@{/games/search}" th:method="GET">-->
    <!--                            <input type="text" name="term" id="term" size="50"/>-->
    <!--                            &nbsp;<input type="submit" value="Search" placeholder="Search Games"/>-->
    <!--                            &nbsp;<input type="button" value="Clear" id="btnClear" onlick="clearSearch()"/>-->
    <!--                        </form>-->
    <!--                    </div>-->
    <!--                </li>-->
    <!--                &lt;!&ndash;                Logout button displays only for Logged in users&ndash;&gt;-->
    <!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
    <!--                    <form th:action="@{/logout}" th:method="post">-->
    <!--                        <button class="btn-link btn" style="margin-top: 10px">Logout</button>-->
    <!--                    </form>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--            <form class="form-inline my-2 my-lg-0">-->
    <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </nav>-->
    <!--</standard_links>-->


    <!--<a class="dropdown-item" th:href="@{/profile}">Profile</a>-->
    <!--<a class="dropdown-item" th:href="@{/groups}">Groups</a>-->
    <!--<a class="dropdown-item" th:href="@{/games}">Games</a>-->
    <!--<a class="dropdown-item" th:href="@{/aboutUs}">About Us</a>-->
    <!--<div class="dropdown-divider"></div>-->
    <!--<form th:action="@{/games/search}" th:method="GET">-->
    <!--    <input type="text" name="term" id="term" size="50"/>-->
    <!--    &nbsp;<input type="submit" value="Search" placeholder="Search Games"/>-->
    <!--    &nbsp;<input type="button" value="Clear" id="btnClear" onlick="clearSearch()"/>-->
    <!--</form>-->
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <standard_links th:fragment="navbar">

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">OperationCo-Opt</a>
            <!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
            <!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--            <span class="navbar-toggler-icon"></span>-->
            <!--        </button>-->
            <!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--                Non-logged in user display-->
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/sign-up">Sign Up</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <!--                Drop down toggle nav(Visible for Logged In Users Only) -->
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a><span class="sr-only"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/groups}">Groups</a><span class="sr-only"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/games}">Games</a><span class="sr-only"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/aboutUs}">About Us</a><span class="sr-only"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form class="form-inline" th:action="@{/games/search}" th:method="GET">
                        <input type="text" name="term" id="term" class="form-control mr-2"
                               placeholder="Look for a Game!" style="margin-left:2rem "/>
                        <input class="btn btn-success" type="submit" value="Search" placeholder="Search"
                               aria-label="Search Games"/>
                        &nbsp;<button onlick="document.getElementById('term').value=''" class="btn btn-warning"
                                      type="button">Clear
                    </button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form class="form-inline " th:action="@{/logout}" th:method="post">
                        <button class="btn btn-danger" style="margin:0 5px">Logout</button>
                    </form>
                </li>
            </ul>
            <!--        </div>-->
        </nav>
    </standard_links>
    </html>
