<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--    <standard_links th:fragment="navbar">-->

<!--        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">-->
<!--            <a class="navbar-brand" href="#">OperationCo-Opt</a>-->
<!--            &lt;!&ndash;        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"&ndash;&gt;-->
<!--            &lt;!&ndash;                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--            &lt;!&ndash;            <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--            &lt;!&ndash;        </button>&ndash;&gt;-->
<!--            &lt;!&ndash;        <div class="collapse navbar-collapse" id="navbarSupportedContent">&ndash;&gt;-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
<!--                &lt;!&ndash;                Non-logged in user display&ndash;&gt;-->
<!--                <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                    <a class="nav-link" href="/sign-up">Sign Up</a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                    <a class="nav-link" href="/login">Login</a>-->
<!--                </li>-->
<!--                &lt;!&ndash;                Drop down toggle nav(Visible for Logged In Users Only) &ndash;&gt;-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/profile}">Profile</a><span class="sr-only"></span></a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/groups}">Groups</a><span class="sr-only"></span></a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/games}">Games</a><span class="sr-only"></span></a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/aboutUs}">About Us</a><span class="sr-only"></span></a>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <form class="form-inline" th:action="@{/games/search}" th:method="GET">-->
<!--                        <input type="text" name="term" id="term" class="form-control mr-2"-->
<!--                               placeholder="Look for a Game!" style="margin-left:2rem "/>-->
<!--                        <input class="btn btn-success" type="submit" value="Search" placeholder="Search"-->
<!--                               aria-label="Search Games"/>-->
<!--                        &nbsp;<button onclick="document.getElementById('term').value=''" class="btn btn-warning"-->
<!--                                      type="button">Clear-->
<!--                    </button>-->
<!--                    </form>-->
<!--                </li>-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <form class="form-inline " th:action="@{/logout}" th:method="post">-->
<!--                        <button class="btn btn-danger" style="margin:0 5px">Logout</button>-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
<!--            &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        </nav>-->
<!--    </standard_links>-->
<!--    </html>-->
  <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<standard_links th:fragment="navbar">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">OperationCo-Opt</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--                Non-logged in user display-->
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/sign-up">Sign Up</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <!--                Drop down toggle nav(Visible for Logged In Users Only) -->
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profile</a><span class="sr-only"></span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/groups}">Groups</a><span class="sr-only"></span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/games}">Games</a><span class="sr-only"></span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/aboutUs}">About Us</a><span class="sr-only"></span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form class="form-inline" th:action="@{/games/search}" th:method="GET">
                    <input type="text" name="term" id="term" class="form-control mr-2"
                           placeholder="Look for a Game!" style="margin-left:2rem "/>
                    <input class="btn btn-success" type="submit" value="Search" placeholder="Search"
                           aria-label="Search Games"/>
                    &nbsp;<button onclick="document.getElementById('term').value=''" class="btn btn-warning"
                                  type="button">Clear
                </button>
                </form>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form class="form-inline " th:action="@{/logout}" th:method="post">
                    <button class="btn btn-danger" style="margin:0 5px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</standard_links>
</html>