<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Group</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
<div id="wrapper" class="d-flex">
    <div id="page-content-wrapper">
        <nav th:replace="partials/navbar :: navbar"></nav>
        <div class="container-fluid page-body">
            <div class="container-fluid">
                <h1 class="text-center">Create a Group!</h1>
                <form th:action="@{/groups/create}" method="POST" th:object="${group}">
                    <label for="name">Enter a Group Name:</label>
                    <input id="name" type="text" th:field="*{name}"/>
                    <br><br>
                    <label for="description">Enter a Description:</label>
                    <textarea id="description" type="text" cols="72" rows="4" th:field="*{description}"></textarea>
                    <br><br>
                    <input value="Create my Group!" type="submit"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<footer th:replace="partials/footer :: footer"></footer>-->
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>