<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h1>This is the groups index page!</h1>

<main class="container">
    <div th:each="group : ${groups}">
        <!--        <form th:action="@{'/games/' + ${games.id}">-->
        <h2 th:text="${group.name}"></h2>
        <p th:text="${group.description}"></p>
        <p th:text="${group.discordUserId}"></p>
    </div>
    <form style="display: inline" th:action="@{'/groups/create/'}"><button>Create A Group</button></form>
</main>
</body>
</html>