<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link th:replace="partials/links :: links"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/group_profile.css}" rel="stylesheet"/>
</head>
<!----------------------------------------------START------------------------------------------------------------------>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<!--------------------------------------------SAVING CODE TO USE IN EDIT FORM------------------------------------------>
<!--<form style="display: inline" th:action="@{'/groups/delete/' + ${group.id}}">-->
<!--    <button>Delete</button>-->
<!--</form>-->
<!--------------------------------------------------------------------------------------------------------------------->

<div class="container">
    <h2 class="h3 mb-3"><span th:text="${group.name}"></span></h2>
    <div class="row">
        <!--Left Card Panel Containing User Info-->
        <div class="col-md-4 col-xl-3">
            <div class="card border-glow mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Squad Details</h5>
                </div>
                <!--Basic User Information Card-->
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="gProfileImg">
                                <img id="imgP" th:src="${group.getProfilePic()}"
                                     style="width: 100%; height:100%; object-fit:cover">
                            </div>
                        </div>
                    </div>

                    <h4 class="card-title mb-0"><span th:text="${group.name}"></span></h4>
                    <!----------------------------------IF USER IS OWNER OF GROUP THIS WILL DISPLAY---------------------------------------->
                    <show_post th:if="${group.owner.userName == user.userName}">
                        <div>
                            <a class="btn btn-sm" th:href="@{'/groups/edit/' + ${group.id}}">Edit
                                Profile</a>
                            <button id="profile-btn2" class="pb btn btn-sm" type="button">Edit Image</button>
                        </div>
                    </show_post>


                </div>
                <!--------------------------------------------------------------------------------------------------------------------->

                <!--                                    <show_join th:if="${group.owner.userName != ${user.userName}}">-->
                <!--                                    <form th:action="@{'/groups/join/' + ${group.id}}" method="POST">-->
                <!--                                        <input name="UserId" th:value="${user.id}" type="hidden">-->
                <!--                                        <button type="submit">Join Group</button>-->
                <!--                                    </form>-->
                <!--                                    </show_join>-->

<!--                                                    <show_join th:if="${group.owner.userName != ${user.userName}}">-->
                                                    <form th:action="@{'/groups/join/' + ${group.id}}" method="POST">
                                                        <input name="UserId" th:value="${user.id}" type="hidden">
                                                        <button type="submit">Join Group</button>
                                                    </form>
<!--                                                    </show_join>-->

                <hr class="my-0">

                <!--Bio Card-->
                <div class="card-body">
                    <h5 class="h6 card-title">About</h5>
                    <p><span th:text="${group.description}"></span></p>
                </div>
                <hr class="my-0">

                <!--Social Media Card-->


                <div class="card-body">
                    <h5 class="h6 card-title">Social</h5>
                    <a class="btn" type="button">
                        <i class="fab-fa-discord"></i>
                        <span th:text="${user.twitchInfo}"></span>
                    </a>
                    <a class="btn" type="button">
                        <i class="fab-fa-discord"></i>
                        <span th:text="${user.discordInfo}"></span>
                    </a>
                    <a class="btn" type="button">
                        <i class="fab-fa-discord"></i>
                        <span th:text="${user.steamInfo}"></span>
                    </a>
                    <a class="btn" type="button">
                        <i class="fab-fa-discord"></i>
                        <span th:text="${user.xboxLiveInfo}"></span>
                    </a>
                    <a class="btn" type="button">
                        <i class="fab-fa-discord"></i>
                        <span th:text="${user.psnInfo}"></span>
                    </a>
                    <a class="btn" type="button">
                        <i class="fab-fa-discord"></i>
                        <span th:text="${user.nintendoInfo}"></span>
                    </a>
                </div>
                <hr class="my-0">

                <!--Tag Card-->
                <div class="card-body">
                    <h5 class="h6 card-title">Tags</h5>
                    <span class="pill" th:each="tag : ${group.getTags()}" th:id="${tag.name}"
                          th:text="${tag.name}"></span>
                </div>
            </div>
        </div>


        <!-- Right Side Panel -->
        <div class="col-md-8 col-xl-9">

            <!-- Favorite Games Card -->
            <div class="card border-glow">
                <div class="card-body">
                    <h5 class="h6 card-title">Squad Members</h5>
                    <show_users th:if="${group.users}">
                        <div th:each="gUser:${group.users}">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 img-box">
                                    <img th:src="${gUser.getProfilePic()}" style="width:100px;height:100px; object-fit:cover">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <h5><a th:text="${gUser.userName}" a th:href="@{'/profile/' + ${gUser.id}}"
                                           style="text-align: center;"></a></h5>
                                    <!--                    <div class="group-users">-->
                                    <div th:if="${group.owner.id == user.id}">
                                        <a th:href="@{'/groups/userDelete/' + ${group.id} + '?UserId=' + ${gUser.id}}">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </show_users>
                </div>
            </div>

            <!-- Right Side Panel -->
            <div>

                <!-- Groups User Is In Card -->
                <div class="card border-glow">
                    <div class="card-body">
                        <a th:href="@{'/groups/posts/' + ${group.id}}">Start Chatting with your Squad!</a>
                        <show_post th:if="${posts}">

                            <div class="postcard">
                                <div th:each="item : ${posts}">
                                    <img th:src="${item.getUser().getProfilePic()}"
                                         style="width:5em;height:5em; object-fit:cover">
                                    <!--            <div style="display: inline-flex; align-items: center">-->
                                    <div class="part1 d-flex justify-content-start">
                                        <h5 th:text="${item.message_body}"></h5>
                                    </div>
                                    <p class="part2 d-flex justify-content-start">
                                    <p th:text=" 'By: '+ ${item.getUser().getUserName()}"></p>
                                    <p class="time"></p>
                                    <p th:text="${#dates.format(item.getDate(), 'dd-MMM-yyyy')}"></p>
                                    <hr>
                                </div>
                            </div>
                        </show_post>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!---------------------------------------------------END--------------------------------------------------------------->

<!--<footer th:replace="partials/footer :: footer"></footer>-->



<script th:inline="javascript">const groupId =/*[[${group.id}]]*/</script>
<script th:inline="javascript">const url =/*[[@{/groups/pic}]]*/</script>
<scripts th:replace="partials/scripts :: scripts"></scripts>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{/js/keys.js}"></script>
<script th:src="@{/js/filestack.js}"></script>
<script th:src="@{/js/groupProfile.js}"></script>
</body>
</html>

