<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Groups</title>
<!--    <link th:replace="partials/links :: links"/>-->
</head>
<body>
<!--<header th:replace="partials/header :: header"></header>-->
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<h1>Welcome to <span th:text="${group.name}"></span>'s Pro
    file Page</h1>

<div class="groupProfile">

    <div class="profileImg"></div>

    <button  class="pb" type="button">Edit profile Image</button>

    <div class="reviews">
        <p> review:
            <i class="star fa fa-star checked" data-value="1"></i>
            <i class="star fa fa-star checked" data-value="2"></i>
            <i class="star fa fa-star checked" data-value="3"></i>
            <i class="star fa fa-star checked" data-value="4"></i>
            <i class="star fa fa-star checked" data-value="5"></i>
        </p></div>

    <h4>Name: <span th:text="${group.name}"></span></h4>
    <h4>Username: <span th:text="${group.description}"></span></h4>
</div>

<!--<button  class="ib" type="button">Edit profile</button>-->

<form style="display: inline" th:action="@{'/groups/edit/' + ${group.id}}"><button>Edit</button></form>
<form style="display: inline" th:action="@{'/groups/delete/' + ${group.id}}"><button>Delete</button></form>


<br>
<div class="bio"> Bio
    <form>
        <textarea> </textarea>
    </form>

</div>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<!--<scripts th:replace="partials/scripts :: scripts"></scripts>-->
</body>
</html>