<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating tags</title>
</head>
<body>

<div class="container">
    <form th:action="@{/tags/create}"  method="post">

        <!--    <label for="bio">Updated your bio</label>-->
        <!--    <input id="bio" type="text" th:value="*{tags.name}"/>-->
        <!--    <br><br>-->
        <!--    <label for="tags">Select your interests:</label>-->
        <!--    <input id="tags" type="text" th:field="*{tag.name}"/>-->
        <!--    <br><br>-->
        <!--    <input value="Update Info" type="submit"/>-->

<!--        <label for="body">Tags</label><textarea th:value="${recipe.notes}" name="notes" id="body" cols="72" rows="4"></textarea>-->
        <div class="d-flex justify-content-between">
            <div th:each="tag : ${tagsList}">
                <input type="checkbox" th:id="${tag.name}" name="ingredients" th:value="${tag.id}" />
                <label th:for="${tag.name}"  th:text="${tag.name}"></label>
            </div>
        </div>
       <button id="btn-2" type="submit">Submit</button>

    </form>
</div>
</body>
</html>