<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user Profile</title>
</head>
<body>

<div class="container">
<h1>Editing Information</h1>
<form th:action="@{'/users/edit/' + ${editUser.id}}" method="post" th:object="${editUser}">

    <label for="bio">Updated your bio</label>
    <input id="bio" type="text"  name="bio" th:value="*{bio}"/>
    <br>

    <div class="tags">
        <h4>Please select the interests : </h4>
        <div th:each="tag : ${tagsList}">
            <input type="checkbox" th:checked="${editUser.tags.contains(tag)}" th:id="${tag.name}"
                   name="tags" th:value="${tag.id}"/>
            <label th:for="${tag.name}" th:text="${tag.name}"></label>
        </div>
    </div>
    <input value="Update Info" type="submit"/>

</form>
</div>
</body>
</html>