<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user Profile</title>
</head>
<body>

<div class="container">
<h1>Editing Information</h1>
<form th:action="'/profile/tags/' + ${editProfile.id}" method="post" th:object="${editProfile}">

<!--    <label for="bio">Updated your bio</label>-->
<!--    <input id="bio" type="text" th:value="*{tags.name}"/>-->
<!--    <br><br>-->
<!--    <label for="tags">Select your interests:</label>-->
<!--    <input id="tags" type="text" th:field="*{tag.name}"/>-->
<!--    <br><br>-->
<!--    <input value="Update Info" type="submit"/>-->


<!--    <label for="body">Tags</label><textarea th:value="${recipe.notes}" name="notes" id="body" cols="72" rows="4"></textarea>-->
<!--    <div class="d-flex justify-content-between">-->
<!--        <div th:each="ingredient : ${ingredientsList}">-->
<!--            <input type="checkbox" th:id="${ingredient.name}" name="ingredients" th:value="${ingredient.id}" />-->
<!--            <label th:for="${ingredient.name}"  th:text="${ingredient.name}"></label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <br>-->
</form>
</div>
</body>
</html>