<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">-->
<!--    <title>gamelogin</title>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">-->
<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{/css/login.css}">&ndash;&gt;-->
<!--</head>-->

<!--&lt;!&ndash;<body style="background: #200422;">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container login">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;            <h1>Welcome Back</h1>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col">&ndash;&gt;-->
<!--&lt;!&ndash;            <h3>Let's Sign You In</h3>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row" style="margin: 0;">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-md-9 col-lg-8 col-xl-6 offset-md-2 offset-xl-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <form th:action="@{/login}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="material-icons" style="width: 100%;text-align: center;">lock_open</i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input class="form-control" id="username" name="username" type="text" placeholder="Username">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                    <input class="form-control" id="password" name="password" type="password" placeholder="Password">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <button class="btn btn-primary" type="submit">Sign In</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="d-xl-flex justify-content-xl-center align-items-xl-end" th:href="@{/sign-up}">Not A User? Sign Up!</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>-->
<!--</body>-->

<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
</head>
<body>
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<h1>Log In</h1>
<!-- We can set parameters to inform us whether or not the user has logged out, entered incorrect credentials, etc -->
<div th:if="${param.error}">
    Invalid Username and/or Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
    <a class="justify-content-lg-center" th:href="@{/sign-up}">Not A User? Sign Up!</a>-->
</form>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>