<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
<!--    <link th:replace="partials/links :: links"/>-->
</head>
<body>
<!--<header th:replace="partials/head :: head"></header>-->
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->


<h1>Welcome to <span th:text="${user.fullName}"></span>'s Profile Page</h1>

<div class = "profileImg" > This is the placeholder for user profile picture </div>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<!--<scripts th:replace="partials/scripts :: scripts"></scripts>-->
</body>
</html>