<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link th:replace="partials/links :: links"/>
    <link th:href="@{/css/profile.css}" rel="stylesheet"/>

    <!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->
    <!--    <link th:href="@{/css/game.css}" rel="stylesheet"/>-->
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<!--            Search Form for Users, may get integrated into the existing search bar-->
<!--<form class="form-inline" th:action="@{/users/search}" th:method="GET">-->
<!--    <input type="text" name="term" id="userTerm" class="form-control mr-sm-2"-->
<!--           placeholder="Look for a Friend!"/>-->
<!--    <input class="btn btn-success" type="submit" value="Search" placeholder="Search"-->
<!--           aria-label="Search Users"/>-->
<!--    &nbsp;<button onclick="document.getElementById('term').value=''" class="btn btn-warning"-->
<!--                  type="button">Clear</button>-->
<!--</form>-->

<!--<nav th:replace="partials/navbar :: navbar"></nav>-->
<div class="container">
    <h1 class="h3 mb-3">Welcome to <span th:text="${user.userName}"></span>'s Profile Page</h1></div>
<div class="row">
    <!--Left Card Panel Containing User Info-->
    <div class="col-md-4 col-xl-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">Profile Details</h5>
            </div>
            <!--Basic User Information Card-->
            <div class="card-body text-center">
                <div class="profileImg">
                    <img id="imgP" th:src="${photoUrl}" style="width: 100%; height:100%; object-fit:cover">
                </div>
                <h4 class="card-title mb-0"><span th:text="${user.fullName}"></span></h4>
                <div class="text-muted mb-2"> @<span th:text="${user.userName}"></span></div>

                <div>
                    <a class="btn btn-primary btn-sm" th:href="@{'/users/edit/' + ${user.id}}">Edit Profile</a>
                    <button id="profile-btn" class="pb" type="button">Update Profile Image</button>
                </div>
            </div>
            <hr class="my-0">

            <!--Bio Card-->
            <div class="card-body">
                <h5 class="h6 card-title">About</h5>
                <p><span th:text="${user.bio}"></span></p>
            </div>
            <hr class="my-0">

            <!--Social Media Card-->

            <!--            Trevor the infos are coming out as peach/grey colored button not sure if that was what you are going at -->
            <div class="card-body">
                <h5 class="h6 card-title">Elsewhere</h5>
                <a class="btn" type="button">
                    <i class="fab-fa-discord"></i>
                    <span th:text="${user.twitchInfo}"></span>
                </a>
                <a class="btn" type="button">
                    <i class="fab-fa-discord"></i>
                    <span th:text="${user.discordInfo}"></span>
                </a>
                <a class="btn" type="button">
                    <i class="fab-fa-discord"></i>
                    <span th:text="${user.steamInfo}"></span>
                </a>
                <a class="btn" type="button">
                    <i class="fab-fa-discord"></i>
                    <span th:text="${user.xboxLiveInfo}"></span>
                </a>
                <a class="btn" type="button">
                    <i class="fab-fa-discord"></i>
                    <span th:text="${user.psnInfo}"></span>
                </a>
                <a class="btn" type="button">
                    <i class="fab-fa-discord"></i>
                    <span th:text="${user.nintendoInfo}"></span>
                </a>
            </div>
            <hr class="my-0">

            <!--Tag Card-->
            <div class="card-body">
                <h5 class="h6 card-title">Tags</h5>
                <span class="pill" th:each="tag : ${user.getTags()}" th:id="${tag.name}"
                      th:text="${tag.name}"></span>
            </div>
        </div>
    </div>

    <!-- Right Side Panel -->
    <div class="col-md-8 col-xl-9">

        <!-- Favorite Games Card -->
        <div class="card">
            <div class="card-body">
                <h5 class="h6 card-title">Favorite Games</h5>
                <!-------------------------- AMARO ADD SEARCH FOR GAMES ---------------------->
                <form class="form-inline" th:action="@{/games/search}" th:method="GET">
                    <input type="text" name="term" id="gameTerm" class="form-control mr-sm-2"
                           placeholder="Look for a Game!"/>
                    <input class="btn btn-success" type="submit" value="Search" placeholder="Search"
                           aria-label="Search Games"/>
                    &nbsp;<button onclick="document.getElementById('term').value=''" class="btn btn-warning"
                                  type="button">Clear
                </button>

                </form>

                <!-------------------------    BETWEEN HERE LOL --------------------------->


                <!--------------------- This is for the FAVORITE GAME SECTION on top of the page  -->
                <show_games th:if="${user.favorites}">
                    <div class="testimonial-group">
                        <div class="row text-center">
                            <div class="col-4" th:each="game: ${user.favorites}">
                                <div class="row">
                                    <div class="col-sm img-game">
                                        <img th:src="${game.art_cover}">
                                        <h6 th:text="${game.title}"></h6>
                                        <div th:if="${user.id == user.id}">

<!--                                            Trash Bin or X Icon for the Remove Feature   maybe? -->
                                            <a th:href="@{'/users/userDelete/' + ${user.id} + '?UserId=' + ${game.id}}">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </show_games>
            </div>
            <!-- Groups User Is In Card -->
            <div class="card">
                <div class="card-body">
                    <!-------------------------- AMARO ADD SEARCH FOR GROUP ---------------------->
                    <form class="form-inline" th:action="@{/groups/search}" th:method="GET">
                        <input type="text" name="term" id="groupTerm" class="form-control mr-sm-2"
                               placeholder="Look for a different Group!"/>
                        <input class="btn btn-success" type="submit" value="Search" placeholder="Search"
                               aria-label="Search Groups"/>
                        &nbsp;<button onclick="document.getElementById('term').value=''" class="btn btn-warning"
                                      type="button">Clear
                    </button>

                    </form>
                    <!-------------------------    BETWEEN HERE LOL --------------------------->
                    <show_groupin th:if="${user.groups}">
                        <div class="testimonial-group">
                            <div class="row text-center">
                                <div class="col-4" th:each="group: ${user.groups}">
                                    <div class="row">
                                        <div class="col-sm img-group" >
<!--                                            <img th:src="${group.profilePic}">-->
                                            <a th:href="@{'/groups/profile/' + ${group.id}}" th:text="${group.name}"></a>
                                            <div th:if="${user.id == user.id}">
      <!--                                            Trash Bin or X Icon for the Remove Feature   maybe? -->
                                                <button class="btn btn-primary pull-right" a
                                                        th:href="@{'/users/userDelete/' + ${user.id} + '?UserId=' + ${group.id}}">
                                                    Leave Group
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </show_groupin>
<!--                    <show_groupIn th:if="${user.groups}">-->
<!--                        <div th:each="group: ${user.groups}">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-2 col-sm-2">-->
<!--                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"-->
<!--                                         class="profile-photo-lg">-->
<!--                                </div>-->
<!--                                <div class="col-md-7 col-sm-7">-->
<!--                                    <h5><a th:href="@{'/groups/profile/' + ${group.id}}" th:text="${group.name}"></a>-->
<!--                                    </h5>-->
<!--                                    <p th:text="${group.description}"></p>-->
<!--                                </div>-->
<!--                                <div class="col-md-3 col-sm-3">-->
<!--                                    <div th:if="${user.id == user.id}">-->
<!--                                        <button class="btn btn-primary pull-right" a-->
<!--                                                th:href="@{'/users/userDelete/' + ${user.id} + '?UserId=' + ${group.id}}">-->
<!--                                            Leave Group-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </show_groupIn>-->
                </div>
            </div>
        </div>
    </div>

    <!---------------------------------------Delete USER FEATURE??---------------------->
    <!--    <div>-->
    <!--        <h5><a th:href="@{'/users/delete/' + ${user.id}}">closed(delete)</a></h5>-->
    <!--    </div>-->
    <!---------------------------------------      Above this line                 ---------------------->


    <!---------------------------------------User Ratings---------------------->
    <!--        <div th:each="rating : ${user.ratings_received}">-->
    <!--            <p th:text="${rating.rating}"></p>-->
    <!--        </div>-->
    <!---------------------------------------      Above this line                 ---------------------->

    <script th:inline="javascript">const userId =/*[[${user.id}]]*/</script>
    <script th:inline="javascript">const url =/*[[@{/profile/pic}]]*/</script>
    <scripts th:replace="partials/scripts :: scripts"></scripts>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script th:src="@{/js/keys.js}"></script>
    <script th:src="@{/js/filestack.js}"></script>
    <script th:src="@{/js/userProfile.js}"></script>
    <!--<footer th:replace="partials/footer :: footer"></footer>-->
</body>
</html>