<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
<!--<header th:replace="partials/head :: head"></header>-->
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">

    <label for="name">Full Name</label>
    <input id="name" type="text" th:field="*{fullName}" />

    <label for="pn">Pronouns</label>
    <input id="pn" type="text" th:field="*{pronouns}" />



    <!--        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false"  th:field="*{pronouns}" >-->
<!--            Pronouns </a>-->
<!--    <div class="dropdown-menu">-->
<!--        <a class="dropdown-item" href="#">she/her</a>-->
<!--        <a class="dropdown-item" href="#">he/his</a>-->
<!--        <a class="dropdown-item" href="#">they/them</a>-->
<!--        <a class="dropdown-item" href="#">xe/xem</a>-->
<!--    </div>-->

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="username">Username</label>
    <input id="username" th:field="*{userName}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" name="confirmPassword"  />

    <label for="DOB">Date Of Birth(D.O.B) </label>
    <input id="DOB" type="text" th:field="*{birthDate}" />

    <input value="Sign me up!" type="submit" />
</form>

<div>
    <h1> Already a user ?</h1>
<form th:action="@{/login}" method="post">
    <label for="uname">Username</label>
    <input id="uname" name="uname" type="text" />
    <br>
    <br>
    <label for="pw">Password</label>
    <input id="pw" name="pw" type="password" />
    <br>
    <input type="submit" value="Login"  />
</form>
</div>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>