body {
    background-color: #161819;
}

.user-glow {
    border: 1px solid #66fcf2;
    box-shadow: 0px 0px 15px #66fcf2, inset 0px 0px 15px #66fcf2;
    background: #002623;
    color: rgb(197,198,200);
}

.game-glow {
    border: 1px solid #7DFF93;
    box-shadow: 0px 0px 15px #7DFF93, inset 0px 0px 15px #7DFF93;
    background: #003009;
    color: rgb(197,198,200);
}

.group-glow {
    border: 1px solid #A2E2FE;
    box-shadow: 0px 0px 15px #A2E2FE, inset 0px 0px 15px #A2E2FE;
    background: #021C27;
    color: rgb(197,198,200);
}