body {
    background-color: #161819;
}

.border-glow {
    border: 1px solid #66fcf2;
    box-shadow: 0px 0px 15px #04433e;
    background: #002623;
    color: rgb(197,198,200);
}

  .admin {
    color: cornflowerblue;
}