<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>About us</title>
    <link th:replace="partials/links :: links"/>

</head>
<body>
<div id="wrapper" class="d-flex">
    <div th:replace="partials/sidebar :: sidebar"></div>
    <div id="page-content-wrapper">
        <nav th:replace="partials/navbar :: navbar"></nav>
        <div class="container-fluid page-body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Fluid jumbotron</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                        parent.</p>
                </div>
            </div>

            <div class="container">
                <div class="card-deck">
                    <div class="card">
                        <a href="https://alumni.codeup.com/students/893"><img class="card-img-top"
                                                                              th:src="@{../img/Amaro.jpg}" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Amaro Terrazas</h5>
                            <div>
                                <a href="https://www.linkedin.com/in/amaro-terrazas/">Linkedin</a>
                                <a href="https://github.com/AmaroT">Github</a>
                                <a href="mailto:amaro.terrazas@gmail.com">Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://alumni.codeup.com/students/898"><img class="card-img-top"
                                                                              th:src="@{../img/Binjita.jpg}" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Binjita Kandel Baral</h5>
                            <div>
                                <a href="https://www.linkedin.com/in/binjitakbaral/">Linkedin</a>
                                <a href="https://github.com/bkandelbaral20">Github</a>
                                <a href="mailto:binjita.baral@gmail.com">Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://alumni.codeup.com/students/887"><img class="card-img-top"
                                                                              th:src="@{../img/Ryan.jpg}" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Ryan Cuvillier</h5>
                            <div>
                                <a href="https://www.linkedin.com/in/ryan-cuvillier/">Linkedin</a>
                                <a href="https://github.com/cuvillier-ryan">Github</a>
                                <a href="mailto:cuvillier.ryan@gmail.com">Email</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="https://alumni.codeup.com/students/883"><img class="card-img-top"
                                                                              th:src="@{../img/trevor.jpg}" alt=""></a>
                        <div class="card-body">
                            <h5 class="card-title">Trevor Arnold</h5>
                            <div>
                                <a href="https://www.linkedin.com/in/trevorjarnold/">Linkedin</a>
                                <a href="https://github.com/arnoldjtrevor">Github</a>
                                <a href="mailto:arnold.j.trevor@gmail.com">Email</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <!--<main class="profiles">-->
            <!--    <div id="amaro-profile">-->
            <!--        <img src=""/>-->
            <!--        <h2>Amaro Terrazas</h2>-->
            <!--        <ul>-->
            <!--&lt;!&ndash;            Can be changed to hyperlinked icons&ndash;&gt;-->
            <!--            <li>Email: amaro.terrazas@gmail.com</li>-->
            <!--            <li><a href="https://github.com/AmaroT" target="_blank">Github</a></li>-->
            <!--            <li><a href="https://www.linkedin.com/in/amaro-terrazas" target="_blank">LinkedIn</a></li>-->
            <!--            <li>Optional: Personal webpage</li>-->
            <!--        </ul>-->
            <!--    </div>-->
            <!--    <div id="binjita-profile">-->
            <!--        <h2>Binjita</h2>-->
            <!--        <ul>-->
            <!--            &lt;!&ndash;            Can be changed to hyperlinked icons&ndash;&gt;-->

            <!--            <li>Email: </li>-->
            <!--            <li>Github: url</li>-->
            <!--            <li>LinkedIn: url</li>-->
            <!--            <li>Optional: Personal webpage</li>-->
            <!--        </ul>-->

            <!--    </div>-->
            <!--    <div id="ryan-profile">-->
            <!--        <h2>Ryan</h2>-->
            <!--        <ul>-->
            <!--            &lt;!&ndash;            Can be changed to hyperlinked icons&ndash;&gt;-->

            <!--            <li>Email: </li>-->
            <!--            <li>Github: url</li>-->
            <!--            <li>LinkedIn: url</li>-->
            <!--            <li>Optional: Personal webpage</li>-->
            <!--        </ul>-->

            <!--    </div>-->
            <!--    <div id="trevor-profile">-->
            <!--        <h2>Trevor</h2>-->
            <!--        <ul>-->
            <!--            &lt;!&ndash;            Can be changed to hyperlinked icons&ndash;&gt;-->

            <!--            <li>Email: </li>-->
            <!--            <li>Github: url</li>-->
            <!--            <li>LinkedIn: url</li>-->
            <!--            <li>Optional: Personal webpage</li>-->
            <!--        </ul>-->
            <!--    </div>-->
            <!--</main>-->
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>