<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<main class="profiles">
    <div id="amaro-profile">
        <img src=""/>
        <h2>Amaro Terrazas</h2>
        <ul>
<!--            Can be changed to hyperlinked icons-->
            <li>Email: amaro.terrazas@gmail.com</li>
            <li><a href="https://github.com/AmaroT" target="_blank">Github</a></li>
            <li><a href="https://www.linkedin.com/in/amaro-terrazas" target="_blank">LinkedIn</a></li>
            <li>Optional: Personal webpage</li>
        </ul>
        <p>As a Software Developer, I am very ambitious, and embrace new challenges that arise every day. I am a fast learner, have high attention to detail, and am quick to adapt to any situation. I strive to improve my craft and myself. I have excellent interpersonal skills and a strong background in working collaboratively to complete projects and solve complex problems. It is my desire to join a team that firmly believes in growth, culture, and value.</p>
    </div>
    <div id="binjita-profile">
        <h2>Binjita</h2>
        <ul>
            <!--            Can be changed to hyperlinked icons-->

            <li>Email: </li>
            <li>Github: url</li>
            <li>LinkedIn: url</li>
            <li>Optional: Personal webpage</li>
        </ul>
        <p>Bio goes here</p>
    </div>
    <div id="ryan-profile">
        <h2>Ryan</h2>
        <ul>
            <!--            Can be changed to hyperlinked icons-->

            <li>Email: </li>
            <li>Github: url</li>
            <li>LinkedIn: url</li>
            <li>Optional: Personal webpage</li>
        </ul>
        <p>Bio goes here</p>
    </div>
    <div id="trevor-profile">
        <h2>Trevor</h2>
        <ul>
            <!--            Can be changed to hyperlinked icons-->

            <li>Email: </li>
            <li>Github: url</li>
            <li>LinkedIn: url</li>
            <li>Optional: Personal webpage</li>
        </ul>
        <p>Bio goes here</p>
    </div>
</main>

</body>
</html>