<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link th:replace="partials/links :: links"/>
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<nav th:insert="partials/navbar :: navbar"></nav>
<body>
<h1>Home Page</h1>

<div class="container-fluid">
    <div class="row split-screen">
        <div class="col-12 col-lg-6 col-xl-6">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="row">
                            <div class="col">
                                <h1>OPERATION CO-OP</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center">Heading</h1>
                            </div>
                        </div>
                        <div class="row d-none d-print-inline d-sm-inline d-md-inline d-lg-inline d-xl-inline">
                            <div class="col-sm-10 col-md-10 offset-sm-1 offset-md-1">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2"><i
                                            class="fa fa-heart d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"></i>
                                    </div>
                                    <div
                                            class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-10 offset-md-0 offset-xl-0">
                                        <p class="d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-start align-items-sm-center align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center">
                                            Create Your Profile</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <i class="fa fa-heart d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"></i>
                                    </div>
                                    <div class="col offset-xl-0">
                                        <p class="d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-sm-center align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center">
                                            Find New Players</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                        <i class="fa fa-heart d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"></i>
                                    </div>
                                    <div
                                            class="col offset-xl-0">
                                        <p class="d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-sm-center align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center">
                                            Create Your Dream Team</p>
                                    </div>
                                    <div
                                            class="col offset-xl-0">
                                        <p class="d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-sm-center align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center">
                                            <a class="btn btn-primary" type="button" th:href="@{/aboutUs}">About Us</a>
                                        </p>
                                    </div>

                                    <button type="button" class="btn btn-primary" data-toggle="button"
                                            aria-pressed="false" autocomplete="off">
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-6 offset-xl-0">
        <form th:action="@{/login}" method="post">
            <div class="form-row row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 offset-sm-1 offset-md-2 offset-lg-0 offset-xl-0">
                    <input class="form-control" id="username" name="username" type="text" placeholder="Username">
                </div>
                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 offset-sm-1 offset-md-2 offset-lg-0 offset-xl-0">
                    <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                </div>
                <div class="col-sm-10 col-md-8 col-lg-2 col-xl-2 offset-sm-1 offset-md-2 offset-lg-0 offset-xl-0">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 col-lg-12">
                <h1 style="color: #29252a;">Join Us Today</h1>
            </div>
            <div class="col-xl-12">
                <h2>Heading</h2>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-10 col-xl-10 offset-sm-1 offset-md-2 offset-lg-1 offset-xl-1">
                <a class="btn btn-primary" type="button" th:href="@{/login}">Sign In</a>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-10 col-xl-10 offset-sm-1 offset-md-2 offset-lg-1 offset-xl-1">
                <a class="btn btn-primary" type="button" th:href="@{/sign-up}">Register</a>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>