<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View games</title>
<!--    <div th:replace="partials/links :: links"/>-->
</head>
<body>
<h1>This is the Games Page</h1>
<p>Under Construction</p>
<p>We Need a Break too!</p>

<!--<main class="container">-->
<!--    <div th:each="item : ${games}">-->
<!--        <form th:action="@{'/games/' + ${games.id}">-->
<!--            <h2-->
<!--        </form>-->
<!--    </div>-->
<!--</main>-->
<!--<header th:replace="partials/header :: header"/>-->
<!--<nav th:replace="partials/navbar :: navbar"/>-->

<!--<footer th:replace="partials/footer :: footer"/>-->
<!--<div th:replace="partials/scripts :: scripts"/>-->
<!--</body>-->
</body>
</html>