<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<!--    <link rel="stylesheet" th:href="@{/css/game.css}">-->
    <meta charset="UTF-8">
    <title>View games</title>
    <link th:replace="partials/links :: links"/>
</head>
<body class="container">

<!--    <div th:replace="partials/sidebar :: sidebar"></div>-->
<!--    <div class="container-fluid">-->
        <nav th:replace="partials/navbar :: navbar"></nav>

<div class="row row-cols-4 row-cols-md-4">
    <div class="col mb-4  " th:each="game: ${games}">
        <div class="card text-center">
            <img th:src="${game.art_cover}" class="card-img-top" alt="...">
            <div class="card-body max-height: 100%">
                <h5 class="card-title" th:text="${game.title}"></h5>
<!--                <p class="card-text" th:text="${game.description}"></p>-->
            </div>
            <div class="card-footer">
                <small class="text-muted" th:text="${game.critics_rating}"></small>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
<script th:src="@{/js/game.js}"></script>
<!--<script th:src="@{/js/gamekeys.js}"></script>-->
<script src="/static/js/gamekeys.js"></script>
</body>
</html>